@page
@model ProjectPRN221_Supermarket.Pages.Products.ListModel
@{
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
        text-align: left;
        padding: 10px;
    }

    td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .search-container {
        display: flex;
        align-items: center;
    }

    .search-left {
        flex: 1;
    }

    .search-right {
        margin-left: auto;
    }

</style>
<div>
	<h2>List of Products</h2>
    <form method="post">
        <div class="search-container">
            <div class="search-left">
                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" asp-for="productName"/>
                <button type="submit">Search</button>
            </div>
            <div class="search-right">
                <label for="categoryId">Category:</label>
                <select id="categoryId" name="categoryId" onchange="submitForm()" asp-for="categoryId">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
        </div>
    </form>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Unit Price</th>
				<th>Quantity</th>
				<th>Expired Date</th>
                <th>Days Left</th>
                <th>Warning</th>
				<th>Category</th>
                <th>Action</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
		@foreach(var product in Model.Products)
		{
			<tr>
				<td> @product.ProductId</td>
				<td> @product.ProductName</td>
				<td> @product.UnitPrice</td>
				<td> @product.QuantityInStock</td>
				<td> @product.ExpirationDate?.ToString("dd/MM/yyyy")</td>
                <td>@((product.ExpirationDate - DateTime.Now)?.Days)</td>
                 <td>@((product.ExpirationDate - DateTime.Now)?.Days < 7 ? "Expiring Soon" : "")</td>
				<td> @product.Category.CategoryName</td>
                <td>
                        <a asp-page="/Products/Edit" asp-route-id="@product.ProductId">Edit</a> |
                        <a asp-page="/Products/Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
                    <td>
                        <form method="post" asp-page-handler="AddToCart">
                            <input type="hidden" name="productId" value="@product.ProductId" />
                            <input type="hidden" name="productName" value="@product.ProductName" />
                            <input type="hidden" name="price" value="@product.UnitPrice" />
                            <button type="submit">Add to Cart</button>
                        </form>
                    </td>
			</tr>
		}
		</tbody>
	</table>
</div>
@{
    var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
}
<a asp-page="./List"
   asp-route-pageIndex="@(Model.Products.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./List"
   asp-route-pageIndex="@(Model.Products.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
<script>
    function submitForm() {
        document.querySelector('form').submit();
    }
</script>
<h1>Sale</h1>
<table>
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.ProductItem.ProductId</td>
                <td>@item.ProductItem.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.ProductItem.UnitPrice</td>
                <td>
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@item.ProductItem.ProductId" />
                        <input type="hidden" name="productName" value="@item.ProductItem.ProductName" />
                        <input type="hidden" name="quantity" value="1" />
                        <input type="hidden" name="price" value="@item.ProductItem.UnitPrice" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-page-handler="ClearCart">
    <button type="submit">Clear Cart</button>
</form>
<form method="post" asp-page-handler="CreateOrder">
    <button type="submit">Place Order</button>
</form>