@page
@model ProjectPRN221_Supermarket.Pages.ImportProduct.ImportListModel
@{
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .inner-table {
        width: 100%;
        border-collapse: collapse;
    }

    .inner-th, .inner-td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .inner-th {
        background-color: #f2f2f2;
    }
</style>

<h1>Purchase List</h1>

<table>
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Detail</th>
            <th>Order Date</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.PurchaseOrder)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>
                    <table class="inner-table">
                        <thead>
                            <tr>
                                <th class="inner-th">Product Name</th>
                                <th class="inner-th">Quantity</th>
                                <th class="inner-th">Unit Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in order.PurchaseOrderItems)
                            {
                                <tr>
                                    <td class="inner-td">@orderDetail.Product.ProductName</td>
                                    <td class="inner-td">@orderDetail.Quantity</td>
                                    <td class="inner-td">@orderDetail.UnitPrice</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>@order.OrderDate?.ToString("dd/MM/yyyy")</td>
                <td>@order.Supplier.SupplierName</td>
            </tr>
        }
    </tbody>
</table>
<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>