@page
@model ProjectPRN221_Supermarket.Pages.SellProduct.SalesListModel
@{
}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .inner-table {
        width: 100%;
        border-collapse: collapse;
    }

    .inner-th, .inner-td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    .inner-th {
        background-color: #f2f2f2;
    }
</style>
<h1>Sales List</h1>

<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Amount</th>
            <th>Cashier Name</th>
            <th>Order Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Sales)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount</td>
                <td>@order.Cashier.CashierName</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th class ="inner-th">Product Name</th>
                                <th class="inner-th">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in order.SalesOrderItems)
                            {
                                <tr>
                                    <td class="inner-td">@orderDetail.Product.ProductName</td>
                                    <td class="inner-td">@orderDetail.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Sales.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Sales.HasNextPage ? "disabled" : "";
}

<a asp-page="./SalesList"
   asp-route-pageIndex="@(Model.Sales.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./SalesList"
   asp-route-pageIndex="@(Model.Sales.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>